@inherits Umbraco.Web.Macros.PartialViewMacroPage

@* OrderBy() takes the property to sort by and optionally order desc/asc *@

@foreach (var page in CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"))
{ 
    <div class="article">
        <div class="projecttitle"><a href="@page.Url">@page.Name</a></div>
        <div class="projectpreview">@Umbraco.Truncate(@page.projectItemBodyText,100) 
			<a href="@page.Url" class="btn btn-success btn-lg pull-right">Read More..</a>
				<div class="clearfix"></div>
			</div>
    </div>
    <hr/>
}